/*-----------------------------General----------------------------*/
.text {
	font-size: 14px;
	font-weight: lighter;
}
/*-----------------------------Backgrounds----------------------------*/
.bg_header {
    background: url('images/bg_header.jpg') no-repeat center center;
    background-position: left top 30%;
    background-size: cover;
}
.bg_newsletter {
    background: url('images/bg_newsletter.jpg') no-repeat center center;
    background-position: top left;
    background-color: rgb(0, 0, 0,0.5); /*Set another bg: color black with 0.4 opacity*/
    background-blend-mode: multiply; /*now blend both backgrounds (img & color) to have a mix (bg img with black filter)*/
}
.bg_about {
	background-image: url('images/bg_nuage.jpg');
	background-position: left 47% bottom;
	background-size: cover;
}
.bg_history {
	background-image: url('images/bg_appareil_photo.jpg');
	background-position: left 47% bottom;
	background-size: cover;
}
.bg-blue {
	background-color: rgb(77, 195, 255,0.5); /*add la valeur de l'opacité pour que only the BG and NOT the whole div soit transparent*/
}
/*---------------------------Header----------------------------------*/
/*-------------Menu - Nav---------------*/
#menu {
	background-color: transparent;
	color: black;
	border: none;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
	font-size: 300% ;
}
#containernav {
	background-color: black;
	color: white;
	border: 0.1em solid grey;
	border-right: none;
	border-left: none;
	display: none;
}
.nav {
	display: block;
	color: white;
	padding: 10px;
	border-bottom: 0.1em solid grey;
}
/*-----------------------------------*/
.logosimplon {
	width: 250px;
}
#HeadTitle2 {
	line-height: 35px;
}
#learnmore{
	background-color: #2b638f;
	border: 1px solid #2d6898;
	text-shadow: 0px 0px 1px #000000;
}

/*----------------------------SECTION FEATURES--------------------------*/
.icon {
	font-size: 55px;
}

/*---------------------------- SECTION BLOG-----------------------------*/
.square {
	width: 200px;
	margin: auto;
}
/*----- SECTION BLOG - 'BUTTON TAKE A LOOK'----*/
#BorderArrowButton {
	width: 15px;
	height:15px;
	border: 2px solid  white;
	border-radius: 50%;
	margin: auto;
	margin-left: 5px;
}
#arrowButton {
	display: flex;
	font-size: 12px;
	margin-left: 1px;
	margin-top: -3px; /*Only way I found to keep the arrow centeres inside the border, I tried to put it directly in div with border but couldn't center it*/
}
/*---------------------------- SECTION HISTORY-----------------------------*/
#smalltext {
	font-size: 12px;
}
/*---------------------------- SECTION PHOTOS-----------------------------*/
#photos {
	background-color: #e6e6e6;
}

/*--------------------------------- FOOTER--------------------------------*/
footer {
	background-color: rgb(28,43,53);
}
.socialmedia {
	font-size: 30px;
}
.socialmediablue, a {
	color: #4682B4;
}
/*----------------------------------MEDIA QUERIES-------------------------*/

/*---------------------------------WIDTH 1199px----------------------------*/

@media (min-width: 1199px){
#containernav{
	float: left;
	background: rgb(51,51,49);
	color: rgb(183,183,181);
	height: 522px;

}
.aboutfb{
	margin-right: 150px;
}
.bg_about{

	
}
.historyfb{
	margin-left: 100px;
}

#photos{
	text-align: center;

}

#partenaires{

}
#exampleInputEmail1{
	width: 30%;
}
.photosali{
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr;
  	grid-template-rows: 1fr 1fr 1fr 1fr;
  	grid-template-areas: "img300 img300 img776" "img800 img400 img776" "img800 img2476 img776" "img140 img140 img439";
  	width: 100%;
}
.img800 { grid-area: img800; }

.img300 { grid-area: img300; }

.img776 { grid-area: img776; }

.img400 { grid-area: img400; }

.img2476 { grid-area: img2476; }

.img140 { grid-area: img140; }

.img439 { grid-area: img439; }
}
